*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #eff0f5;
}
main{
    background-color: white;
}

header{
    background-color: black;
    width: 100%;
    position: fixed;
}
.logos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content:space-around;
    align-items: center;
    margin-bottom: 15px;
}
.header{
    font-size: 18px;
}
#inicio:hover, #list:hover, #marcas:hover, #p_combo:hover, #soporte:hover{
    color: #ffcc00;
    cursor: pointer;
    text-decoration:underline;
}
#list{
    border: none;
}
/* Checkbox oculto */
#menu-toggle {
    display: none;
}

/* Botón hamburguesa */
.menu-btn {
    font-size: 24px;
    color: white;
    cursor: pointer;
    display: none; /* Oculto en pantallas grandes */
}
.principal{
    color: white;
    display: flex;
    flex-direction: row;
    gap: 38px;
    list-style: none;
    justify-content: center;
    font-size: 20px;
    
}
.icon-container {
    display: flex;
    gap: 20px;
}

.icon {
    font-size: 40px;
    color: white;
    cursor: pointer;
    transition: transform 0.3s; 
}

.icon:hover {
    color: #Ffcc00;
}

#catalogo{
    background-color: black;
    color: white;
}
.LOGO_BUSINESS{
    width: 120px;
    justify-items: center;
}
.carrucel{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 10px;
}
.slider{
    margin-top: 160px;
    display: flex;
    padding: 0;
    width: 500%;
    animation: slide 20s infinite alternate ease-in-out;
}
.slide{
    list-style: none;
    width: 100%;
}
.slide img{
    width: 100%;
}
@keyframes slide {
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    95%{margin-left: -300%;}

    100%{margin-left: -400%;}
    120%{margin-left: -400%;}
}
#productos_principales{
    padding: 30px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
}
#PP{
    text-transform: uppercase;
    text-align: center;
}
.productos_principales{
    width: 320px;
}
#imagen_perfect_combo{
    width: 100%;
}
#Image_Categorias{
    width: 100%;

}
#h2MasVendido{
    text-align: center;
    text-transform: uppercase;

}
#h2MasVendido:hover{
    text-decoration: underline;
    color: #ff0000;
    cursor: pointer;
}
#productosVendidos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Se adapta al tamaño de la pantalla */
    gap: 20px;
    width: 80%;
    margin-bottom: 20px;
    margin-right: 10%;
    margin-left: 10%;
}
.SlideProductos{background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.SlideProductos img{
    width: 100%;
    height: 250px;
    object-fit:cover; 
    border-radius: 5px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
}
.productName{
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}
.a_carrito{
    background-color: #f20e0e;
    color: white;
    border-radius: 15px;
    padding: 10px;
    text-transform: uppercase;
    margin: 8px;
}
.a_carrito:hover{
    cursor: pointer;
    background-color: #a80404;
}

.marcas{
    background-color: black;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    
}
.marcas img {
    width: 200px;
    border-radius: 300px;
    
}
#Pfrecuentes{
    text-align: center;
    text-transform: uppercase;
    margin: 20px;
}
.preguntas{
    background-color: white;
}
#pregunta{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    
}
#pregunta li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
}
  
  .botonP {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: red;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.consulta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    background-color: #eff0f5;
}
#mujer:hover{
    width:  48%;
    cursor: pointer;
    transition: 2s;
}
#track:hover{
    width:  48%;
    cursor: pointer;
    transition: 2s;
}
.consulta img{
    width: 45%;
    padding: 20px;
    border-radius: 75px;
    overflow: hidden;
}

footer{
    background-color: #242424;
}
.menu_footer ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    color: white;
    gap: 70px;
    font-size: 20px;
    
}
.menu_footer ul li:hover{
    color: #ffcc00;
    cursor: pointer;
}
#Inicio:hover, #List:hover, #Marcas:hover, #P_combo:hover, #Soporte:hover{
    color: #ffcc00;
    cursor: pointer;
    text-decoration: underline;
    
}
#suscription{
    background-color:#ea070a;
    width: 120px;
    padding: 15px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 20px;
}
#email{
    background-color: #ffffff;
    color: #000000;
    opacity: 75%;
}
#titleFooter{
    color: white;
    font-size: 35px;
}
#rentability{
    color: #ea070a;
    font-size: 22px;
}
footer h3{
    color: white;
}
footer p{
    color: white;
}
.footer{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
@media (max-width: 520px){

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        background-color: #eff0f5;
    }
    main{
        background-color: white;
    }
    
    header{
        background-color: black;
        width: 100%;
        position: fixed;
    }
    .logos{
        display: flex;
        flex-direction: row;
        align-items:center;
        position: relative;
    }
    .menu-btn {
        display: block; /* Se muestra en móviles */
    }
    #menu-toggle:checked ~ .principal {
        display: flex;
    }
    .header{
        font-size: 18px;
    }
    
    .principal{
        color: white;
        display: none;
        flex-direction: column;
        position: absolute;
        left: 0;
        background: #000000;
        width: 100%;
        text-align: center;  
    }
    #inicio:hover, #list:hover, #marcas:hover, #p_combo:hover, #soporte:hover{
        color: #ffcc00;
        cursor: pointer;
    }
    #list{
        border: none;
    }
    .principal li{
        padding: 10px 0;
    }
    
    .icon-container {
        display: flex;
        gap: 20px;
    }

    .icon {
        font-size: 40px;
        color: white;
        cursor: pointer;
        transition: transform 0.3s; 
    }

    .icon:hover {
        color: #Ffcc00;
    }
    #catalogo{
        background-color: black;
        color: white;
    }
    .LOGO_BUSINESS{
        width: 120px;
        justify-items: center;
    }
        
    .carrucel{
        width: 100%;
        height: auto;
        overflow: hidden;
        margin-bottom: 10px;
    }
    .slider{
        margin-top: 160px;
        display: flex;
        padding: 0;
        width: 500%;
        animation: slide 20s infinite alternate ease-in-out;
    }
    .slide{
        list-style: none;
        width: 100%;
    }
    .slide img{
        width: 100%;
    }
    @keyframes slide {
        0%{margin-left: 0%;}
        20%{margin-left: 0%;}

        25%{margin-left: -100%;}
        45%{margin-left: -100%;}

        50%{margin-left: -200%;}
        70%{margin-left: -200%;}

        75%{margin-left: -300%;}
        95%{margin-left: -300%;}

        100%{margin-left: -400%;}
        120%{margin-left: -400%;}
    }
        
    #productos_principales{
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }
    #PP{
        text-transform: uppercase;
        text-align: center;
    }
    .productos_principales{
        width: 250px;
    }
    #imagen_perfect_combo{
        width: 100%;
    }
    
    #Image_Categorias{
        width: 100%;

    }    
    #productosVendidos{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr)); /* Se adapta al tamaño de la pantalla */
        gap: 20px;
        width: 70%;
        margin-bottom: 20px;
    }
    .SlideProductos{background-color: white;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
    }
    
    .SlideProductos img{
        width: 100%;
        height: 250px;
        object-fit:cover; 
        border-radius: 5px;
    }
    a{
        text-decoration: none;
        color: white;
    }
        
    .productName{
        font-size: 16px;
        font-weight: bold;
        margin-top: 10px;
    }
    .a_carrito{
        background-color: #f20e0e;
        color: white;
        border-radius: 15px;
        padding: 10px;
        text-transform: uppercase;
        margin: 8px;
    }
    .a_carrito:hover{
        cursor: pointer;
        background-color: #a80404;
    }    
    .marcas{
        background-color: black;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        
    }
    .marcas img {
        width: 100%;
        border-radius: 300px;
        
    }
        
    #Pfrecuentes{
        text-align: center;
        text-transform: uppercase;
        margin: 20px;
    }
    .preguntas{
        background-color: white;
    }
    #pregunta{
        width: 80%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 10%;
        margin-right: 10%;
        
    }
    #pregunta li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        background-color: white;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 700;
    }
    
    .botonP {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        background-color: red;
        color: white;
        font-size: 20px;
        cursor: pointer;
    }
    .consulta{
        display: flex;
        flex-direction: row;
        align-items: center ;
        gap: 10px;
        background-color: #eff0f5;
    }
    .consulta img{
        width: 45%;
        border-radius: 75px;
        overflow: hidden;
    }
    #mujer:hover{
        width:48%;
        cursor: pointer;
        transition: 2s;
    }
    #track:hover{
        width:48%;
        cursor: pointer;
        transition: 2s;
    }
        
    footer{
        background-color: #242424;
    }
    .menu_footer ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;
        color: white;
        gap: 40px;
        font-size: 14px;
    }
    
    #Inicio:hover, #List:hover, #Marcas:hover, #P_combo:hover, #Soporte:hover{
        color: #ffcc00;
        cursor: pointer;
        text-decoration: underline;
        
    }
    #suscription{
        background-color:#ea070a;
        width: 80px;
        padding: 15px;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        margin-bottom: 20px;
    }
    #email{
        background-color: #ffffff;
        color: #000000;
        opacity: 75%;
    }
    #titleFooter{
        color: white;
        font-size: 25px;
    }
    #rentability{
        color: #ea070a;
        font-size: 22px;
    }
    footer h3{
        color: white;
    }
    footer p{
        color: white;
    }
    .footer{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    
}
@media (min-width: 521px) and (max-width: 767px){

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        background-color: #eff0f5;
    }
    main{
        background-color: white;
    }
    
    header{
        background-color: black;
        width: 100%;
        position: fixed;
    }
    .logos{
        display: flex;
        flex-direction: row;
        align-items:center;
        position: relative;
    }
    .menu-btn {
        display: block; /* Se muestra en móviles */
    }
    #menu-toggle:checked ~ .principal {
        display: flex;
    }
    .header{
        font-size: 18px;
    }
    
    .principal{
        color: white;
        display: none;
        flex-direction: column;
        position: absolute;
        left: 0;
        background: #000000;
        width: 100%;
        text-align: center;  
    }
    #inicio:hover, #list:hover, #marcas:hover, #p_combo:hover, #soporte:hover{
        color: #ffcc00;
        cursor: pointer;
    }
    #list{
        border: none;
    }
    .principal li{
        padding: 10px 0;
    }
   
    .icon-container {
        display: flex;
        gap: 20px;
    }

    .icon {
        font-size: 40px;
        color: white;
        cursor: pointer;
        transition: transform 0.3s; 
    }

    .icon:hover {
        color: #Ffcc00;
    }
    #catalogo{
        background-color: black;
        color: white;
    }
    .LOGO_BUSINESS{
        width: 120px;
        justify-items: center;
    }
        
    .carrucel{
        width: 100%;
        height: auto;
        overflow: hidden;
        margin-bottom: 10px;
    }
    .slider{
        margin-top: 160px;
        display: flex;
        padding: 0;
        width: 500%;
    }
    .slide{
        list-style: none;
        width: 100%;
    }
    .slide img{
        width: 100%;
    }
    @keyframes slide {
        0%{margin-left: 0%;}
        20%{margin-left: 0%;}

        25%{margin-left: -100%;}
        45%{margin-left: -100%;}

        50%{margin-left: -200%;}
        70%{margin-left: -200%;}

        75%{margin-left: -300%;}
        95%{margin-left: -300%;}

        100%{margin-left: -400%;}
        120%{margin-left: -400%;}
    }
        
    #productos_principales{
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }
    #PP{
        text-transform: uppercase;
        text-align: center;
    }
    .productos_principales{
        width: 250px;
    }
    #imagen_perfect_combo{
        width: 100%;
    }
    #Image_Categorias{
        width: 100%;

    }    
    #productosVendidos{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Se adapta al tamaño de la pantalla */
        gap: 20px;
        width: 80%;
        margin-bottom: 20px;
        margin-right: 10%;
        margin-left: 10%;
    }
    .SlideProductos{background-color: white;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
    }
    
    .SlideProductos img{
        width: 100%;
        height: 250px;
        object-fit:cover; 
        border-radius: 5px;
    }
    a{
        text-decoration: none;
        color: white;
    }
        
    .productName{
        font-size: 16px;
        font-weight: bold;
        margin-top: 10px;
    }
    .a_carrito{
        background-color: #f20e0e;
        color: white;
        border-radius: 15px;
        padding: 10px;
        text-transform: uppercase;
        margin: 8px;
    }
    .a_carrito:hover{
        cursor: pointer;
        background-color: #a80404;
    }    
    .marcas{
        background-color: black;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        
    }
    .marcas img {
        width: 100%;
        border-radius: 300px;
        
    }
        
    #Pfrecuentes{
        text-align: center;
        text-transform: uppercase;
        margin: 20px;
    }
    .preguntas{
        background-color: white;
    }
    #pregunta{
        width: 80%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 10%;
        margin-right: 10%;
        
    }
    #pregunta li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        background-color: white;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 700;
    }
    
    .botonP {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        background-color: red;
        color: white;
        font-size: 20px;
        cursor: pointer;
    }
    .consulta{
        display: flex;
        flex-direction: row;
        align-items: center ;
        gap: 10px;
        background-color: #eff0f5;
    }
    .consulta img{
        width: 45%;
        border-radius: 75px;
        overflow: hidden;
    }
    #mujer:hover{
        width:48%;
        cursor: pointer;
        transition: 2s;
    }
    #track:hover{
        width:48%;
        cursor: pointer;
        transition: 2s;
    }
        
    footer{
        background-color: #242424;
    }
    .menu_footer ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;
        color: white;
        gap: 40px;
        font-size: 18px;
    }
    
    #Inicio:hover, #List:hover, #Marcas:hover, #P_combo:hover, #Soporte:hover{
        color: #ffcc00;
        cursor: pointer;
        text-decoration: underline;
        
    }
    #suscription{
        background-color:#ea070a;
        width: 100px;
        padding: 15px;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        margin-bottom: 20px;
    }
    #email{
        background-color: #ffffff;
        color: #000000;
        opacity: 75%;
    }
    #titleFooter{
        color: white;
        font-size: 25px;
    }
    #rentability{
        color: #ea070a;
        font-size: 20px;
    }
    footer h3{
        color: white;
    }
    footer p{
        color: white;
    }
    .footer{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media (min-width: 768px) and (max-width: 1024px){

}
@media (min-width: 1025px) {

}