*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #eff0f5;
}

header{
    background-color: black;
    width: 100%;
}
.header{
    right: 15%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content:flex-end;
    align-items: center;
}
.principal{
    color: white;
    display: flex;
    flex-direction: row;
    gap: 38px;
    list-style: none;
    justify-content: center;
    font-size: 18px;
    
}
#logo{
    
}
#catalogo{
    background-color: black;
    color: white;
}
.LOGO_BUSINESS{
    width: 150px;
    justify-items: center;
}
.carrucel{
    width: 100%;
    height: auto;
    margin: 1;
    overflow: hidden;
    margin-bottom: 10px;
}
.slider{
    display: flex;
    padding: 0;
    width: 500%;
    animation: slide 20s infinite alternate ease-in-out;
}
.slide{
    list-style: none;
    width: 100%;
}
.slide img{
    width: 100%;
}
@keyframes slide {
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    95%{margin-left: -300%;}

    100%{margin-left: -400%;}
    120%{margin-left: -400%;}
}
 /* .botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    gap: 20px;
}
.boton{
    background-color: orange;
    font-size: 45px;
    padding: 15px;
    border-radius: 500px;
} */
.carrusel_container{
    width: 90%;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 20px;
    overflow: hidden;
}
.carrusel{
    animation: slider 20s infinite alternate ease-in-out;
}
.Slide{
        display: flex;
        flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

}
.Slide img{
    width: 300px;
    overflow:hidden;
}

#description{
    text-align: center;
}
@keyframes slider {
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    95%{margin-left: -300%;}

    100%{margin-left: -400%;}
    120%{margin-left: -400%;}

    125%{margin-left: -500%;}
    145%{margin-left: -500%;}

    150%{margin-left: -600%;}
    170%{margin-left: -600%;}

    175%{margin-left: -700%;}
    195%{margin-left: -700%;}

    200%{margin-left: -800%;}
    220%{margin-left: -800%;}
}


#productos_principales{
    padding: 30px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.productos_principales{
    width: 350px;
}
.imagenes{
    width: 100%;
}
#productosVendidos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Se adapta al tamaño de la pantalla */
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.SlideProductos{background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.SlideProductos img{
    width: 100%;
            height: 250px; /* Altura fija */
            object-fit: cover; /* Ajuste para que todas las imágenes se vean uniformes */
            border-radius: 5px;
}
.pruductName{
    font-size: 16px;
            font-weight: bold;
            margin-top: 10px;
}
.preguntas{
    background-color: white;
}
#pregunta{
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 30px;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    
}
#pregunta li{
    list-style: none;
    background-color: white;
    width: 70%;
    box-shadow: 5px 5px 5px ;
    padding: 10px;
    border-radius: 10px;
}
.botonP{
    background-color: red;
    font-size: 14px;
    padding: 6px;
    border-radius: 100px;
}
.marca{
    background-color: black;
    display: flex;
    align-items: center;
    gap: 32px;
}
.marca img {
    width: 200px;
    border-radius: 300px;
    
}
.product{
    width: 300px;
}
#image_discount{
    width: 100%;

}
.consulta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    background-color: #eff0f5;

}
#mujer:hover{
    width: 50%;
    cursor: pointer;
    transition: 2s;
}
#track:hover{
    width: 50%;
    cursor: pointer;
    transition: 2s
}
.consulta  img{
    width: 45%;
    padding: 20px;
    border-radius: 75px;
}
.menu_footer ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    color: white;
    gap: 70px;
}
footer{
    
    background-color: #242424
}